<h1>Prometheus Servers</h1>
<div class="tr">
  <div *ngFor="let server of servers" class="alert alert-secondary">
    <span class="alert-heading">Server Name : {{server.name}}</span> <br />
    <a routerLink="/metrics/{{server.url}}">
      <span class="server-url">{{server.url}}</span>
    </a>
  </div>
  <div>
    <h2>{{noServerMsg}}</h2><br />
  </div>
  <div class="form-group">
  </div>
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#serverModal">Add Server</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary" (click)="FlushServers()">Flush Servers</button>
    </div>
  </div>
  <app-add-server></app-add-server>
</div>
