<div>
  <form>
    <div class="form-group">
      <label for="sname"> Server Name</label>
      <input #sname type="text" name="sname" class="form-control" [(ngModel)]="serverName" required/><br>
    </div>
    <div class="form-group">
      <label for="surl">Server URL </label>
      <input #surl type="url" name="surl" pattern="https?://.+" class="form-control" [(ngModel)]="serverUrl" required/><br>
    </div>
    <button (click)="AddServers()" class="btn btn-primary">Add Server</button>
    <div>
      <button (click)="FlushServers()" class="btn btn-primary">Flush Servers List</button>
    </div>
  </form>

</div>
