/* You can add global styles to this file, and also import other style files */

body {
    cursor: default;
    font-size: 14px;
    line-height: 21px;
    font-family: "Segoe UI","Helvetica",Garuda,Arial,sans-serif;
    padding: 18px 18px 18px 18px;
}