<h2 style="text-align: center;">My Metrices</h2>
<div style="width: max-content;">
<div class=metricjob >
<ul class="metrices">
  <li *ngFor = "let job of jobs" (click)="onSelectJob(job)">
      <div id="1"><span class="badge">{{job}}</span></div>

  </li>
  </ul>
</div>
<div class= "metricDetail">
  <div style="padding-bottom: 4px;" *ngFor="let metric of metrics">
  <a href="http://demo.robustperception.io:9090/graph?g0.range_input=1h&g0.expr={{metric.metric}}&g0.tab=0" target="_blank"><span ><b>{{metric.metric}}: </b> </span></a>
        {{metric.help}}
  <!-- <ul>
    <li *ngFor="let metrics of metrics"
      (click)="onSelect(metrics)">
      <div class="badge1"><span>{{metrics.metric}}</span> {{metrics.help}}</div>
    </li>
  </ul> -->
</div>
</div>
</div>
<div *ngIf="selectedMetrics">

  <h2>{{selectedMetrics.name | uppercase}} Details</h2>
  <div id="3"><span>id: </span>{{selectedMetrics.metric}}</div>
  <div id="3">
    <label>name:
      <input [(ngModel)]="selectedMetrics.metric" placeholder="name"/>
    </label>
  </div>

</div>
